@font-face {
  font-weight: 400;
  font-family: "SF UI Display";
  font-style: normal;
  src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "SF UI Display";
  font-style: normal;
  src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
}
@font-face {
  font-weight: 900;
  font-family: "SF UI Display";
  font-style: normal;
  src: url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFUIDisplay-Heavy.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-family: "SF UI Display";
  font-style: normal;
  src: url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "SF UI Display";
  font-style: normal;
  src: url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
.reset {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.transition {
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
body {
  width: 100%;
  max-width: 100%;
  font-family: "SF UI Display", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #090F1E;
}
.footer {
  margin-top: auto;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
figure {
  margin: 0;
  padding: 0;
}
textarea,
input,
button {
  font: inherit;
  border: none;
  outline: none;
}
button {
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.privacy_policy {
  padding: 10px;
  border-top: 3px solid #5CA94E;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 500;
  left: 0;
  right: 0;
  background: #ffffff;
}
.privacy_policy a {
  color: #5CA94E;
  font-weight: bold;
}
.privacy_policy .button {
  color: #F95454;
  cursor: pointer;
}
h1,
.title-main {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}
h2,
.title {
  position: relative;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  line-height: 33px;
  font-weight: 900;
}
h2 span,
.title span {
  color: #0195FF;
}
h2::before,
.title::before {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -26px;
  width: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#0195FF), to(#0856C5));
  background: linear-gradient(90deg, #0195FF 0%, #0856C5 100%);
  border-radius: 0px 4px 4px 0px;
}
.title-2 {
  font-weight: bold;
  font-size: 15px;
}
.title-3 {
  font-weight: 700;
  font-size: 22px;
}
.title-4 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}
.block {
  margin-bottom: 30px;
  padding: 30px;
  padding-left: 26px;
  padding-top: 20px;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#1C273D), to(#12192B));
  background: linear-gradient(90deg, #1C273D 0%, #12192B 100%);
}
.block--light {
  background: #EDF2FF;
  color: #4D5362;
}
.block--light h2,
.block--light h3,
.block--light h4,
.block--light .title,
.block--light .title-2 {
  color: #090F1E;
}
.wrapper {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper--columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 20px;
  background-color: #090F1E;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.header--scroll {
  padding-top: 0;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.header--scroll .header__wrap {
  border-radius: 0px 0px 12px 12px;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.header__wrap {
  padding: 9px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#1C273D), to(#12192B));
  background: linear-gradient(90deg, #1C273D 0%, #12192B 100%);
  border-radius: 12px;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn,
.header__link {
  height: 32px;
  padding: 9px 18px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 10px;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.header__btn:hover,
.header__link:hover,
.header__btn:active,
.header__link:active {
  opacity: 0.7;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.header__link {
  padding: 9px 21px;
  background-color: rgba(255, 255, 255, 0.1);
}
.header__btn {
  width: 171px;
  background: #0D934D;
}
.menu__btn {
  display: none;
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item {
  position: relative;
  margin-left: 13px;
  margin-right: 12px;
}
.menu__item::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -19px;
  left: 7px;
  right: 7px;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#0195FF), to(#0856C5));
  background: linear-gradient(90deg, #0195FF 0%, #0856C5 100%);
  border-radius: 2px 2px 0px 0px;
}
.menu__item:hover .menu__link,
.menu__item:active .menu__link,
.menu__item--active .menu__link {
  color: #fff;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.menu__item--active::after {
  display: block;
}
.menu__link {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.btn {
  width: 198px;
  height: 48px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  background-color: #0195FF;
  background-image: -webkit-gradient(linear, left top, right top, from(#0195FF), to(#0856C5));
  background-image: linear-gradient(90deg, #0195FF 0%, #0856C5 100%);
  border-radius: 12px;
}
.btn:hover,
.btn:active {
  background-image: none;
}
.promo {
  padding-top: 90px;
  margin-bottom: 30px;
}
.promo--reg .promo__title {
  margin-top: 0;
  margin-bottom: 20px;
}
.promo--reg .promo__btns {
  margin-top: 30px;
}
.promo__block {
  min-height: 450px;
  padding: 38px 60px;
  padding-bottom: 47px;
  background-color: #1C273D;
  background-image: url(../img/images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  overflow: hidden;
}
.promo__info {
  max-width: 525px;
}
.promo__top {
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
}
.promo__top strong {
  margin-right: 5px;
  color: #0195FF;
  font-weight: 900;
}
.promo__title {
  margin-top: 25px;
  margin-bottom: 33px;
}
.promo__btns {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promo__btn {
  width: 266px;
  height: 58px;
  margin-right: 10px;
  font-size: 18px;
}
.promo__code {
  width: 144px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(9, 15, 30, 0.7);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.promo__code span {
  display: block;
}
.promo__code:hover,
.promo__code:active {
  background-color: rgba(9, 15, 30, 0.5);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.promo__text {
  font-size: 14px;
}
.content {
  width: 370px;
  margin-bottom: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#1C273D), to(#12192B));
  background: linear-gradient(90deg, #1C273D 0%, #12192B 100%);
  border-radius: 12px;
}
.content .title {
  padding: 20px 26px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px 12px 0px 0px;
}
.content .title::before {
  left: 0;
  top: 20px;
  bottom: 20px;
}
.content__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content__list > li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.content__list > li > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 53px;
  padding-left: 26px;
  padding-right: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.content__list > li > a::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 9px;
  height: 14px;
  background-image: url(../img/icons/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.content__list > li > a:hover,
.content__list > li > a:active {
  color: #0195FF;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.content__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 20px;
  padding-left: 47px;
}
.content__sublist li a {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.content__sublist li a:hover,
.content__sublist li a:active {
  color: #fff;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.codes {
  width: calc(100% - 400px);
  margin-bottom: 30px;
  padding: 20px 26px;
  background: -webkit-gradient(linear, left top, right top, from(#1C273D), to(#12192B));
  background: linear-gradient(90deg, #1C273D 0%, #12192B 100%);
  border-radius: 12px;
}
.codes__info {
  max-width: 670px;
  margin-bottom: 25px;
}
.codes__info span {
  color: #0195FF;
}
.codes__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.codes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-right: 25px;
  margin-top: 20px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}
.codes__img {
  width: 145px;
}
.codes__img img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.codes__text {
  width: 280px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.7);
}
.codes__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
}
.codes__title img {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 3px;
}
.codes__links {
  width: 198px;
}
.codes__promo {
  width: 100%;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 19px;
  border-radius: 12px;
  background-color: rgba(9, 15, 30, 0.2);
}
.codes__promo span {
  display: block;
  margin-bottom: 3px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.codes__promo img {
  display: block;
}
.graph__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 58px;
}
.graph__text {
  width: 365px;
  max-width: 100%;
  padding-top: 30px;
  color: rgba(255, 255, 255, 0.7);
}
.graph__text .title {
  color: #fff;
}
.graph__btn {
  margin-top: 67px;
}
.graph__img {
  width: 715px;
  max-width: 100%;
}
.graph__img img {
  display: block;
  width: 100%;
  height: auto;
}
.info__table {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 43px;
  border-collapse: collapse;
  background: #EDF2FF;
  border-radius: 12px;
  color: rgba(9, 15, 30, 0.7);
  line-height: 1.1;
}
.info__table tr:nth-child(2n) {
  background-color: rgba(38, 77, 174, 0.07);
}
.info__table td {
  height: 56px;
  vertical-align: middle;
}
.info__table td:first-child {
  position: relative;
  width: 375px;
  padding: 0 20px;
  color: #090F1E;
  font-weight: 600;
}
.info__table td:first-child::after {
  content: "";
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 1px;
  width: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#0195FF), to(#0856C5));
  background: linear-gradient(90deg, #0195FF 0%, #0856C5 100%);
  border-radius: 2px;
}
.info__table td:last-child {
  padding-left: 44px;
  padding-right: 20px;
}
.info__table a {
  color: #0195FF;
}
.info__table a:hover,
.info__table a:active {
  text-decoration: underline;
}
.benefits p {
  margin-bottom: 20px;
}
.benefits .title {
  margin-bottom: 27px;
}
.benefits .title-2 {
  margin-top: 35px;
  margin-bottom: 23px;
}
.benefits .block {
  padding-right: 50px;
}
.benefits__btn {
  margin-top: 48px;
}
.load .block,
.comments .block {
  padding: 0;
}
.load .title,
.comments .title {
  padding: 20px 26px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px 12px 0px 0px;
}
.load .title::before,
.comments .title::before {
  left: 0;
  top: 20px;
  bottom: 20px;
}
.load__intro {
  max-width: 880px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}
.load__intro p {
  margin-top: 0;
}
.load__wrap {
  padding: 30px;
  padding-left: 26px;
  background-image: url(../img/images/telephone.webp);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.load__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 82px;
}
.load__item {
  position: relative;
  z-index: 2;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  padding: 15px 18px;
  border-radius: 12px;
}
.load__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0.36)));
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.36) 100%);
  opacity: 0.1;
  border: 2px solid #FFFFFF;
}
.load__btn {
  margin-top: auto;
  height: 32px;
  font-size: 13px;
  text-transform: none;
  font-weight: 799;
}
.load__title {
  margin-top: 13px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
}
.load__text {
  margin-bottom: 9px;
  margin-right: -5px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.4;
}
.load__img img {
  display: block;
  width: 100%;
  height: auto;
}
.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.about__text {
  width: calc(100% - 700px);
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.about__text .title {
  color: #fff;
  font-size: 40px;
}
.about__text .title::before {
  top: -10px;
  bottom: -10px;
}
.about__video {
  display: block;
  width: 623px;
}
.about__video img {
  display: block;
  width: 100%;
  height: auto;
}
.comments__wrap {
  position: relative;
  padding: 30px;
  padding-left: 26px;
}
.comments__slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  padding: 30px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.comments__top {
  position: relative;
  padding-bottom: 26px;
}
.comments__top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30px;
  right: -30px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#1C273D), to(#12192B));
  background: linear-gradient(90deg, #1C273D 0%, #12192B 100%);
  opacity: 0.3;
  border-radius: 12px;
}
.comments__avatar {
  position: absolute;
  z-index: 5;
  top: -5px;
  left: -5px;
  width: 68px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #0195FF;
  background-image: -webkit-gradient(linear, left top, right top, from(#0195FF), to(#0856C5));
  background-image: linear-gradient(90deg, #0195FF 0%, #0856C5 100%);
  overflow: hidden;
}
.comments__avatar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.comments__avatar img {
  display: block;
  width: 60px;
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.comments__person {
  position: relative;
  width: 100%;
  padding: 10px;
  padding-bottom: 8px;
  padding-left: 80px;
  border-radius: 12px;
  background-color: rgba(9, 15, 30, 0.4);
}
.comments__bottom {
  padding-top: 21px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 1.6;
}
.comments__name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
.comments__data {
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.comments__time {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
  color: #0195FF;
}
.swiper-button-prev,
.swiper-button-next {
  width: 38px;
  height: 38px;
  border-radius: 12px;
  background-image: url(../img/icons/next.svg);
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
}
.swiper-button-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.comments__prev {
  left: auto;
  top: -35px;
  right: 83px;
}
.comments__next {
  right: 30px;
  top: -35px;
}
.faq .title {
  margin-bottom: 60px;
}
.faq .title-3 {
  color: #000;
}
.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq__list li {
  margin-bottom: 47px;
}
.faq__btn {
  margin-top: 73px;
}
.footer {
  padding-bottom: 30px;
}
.footer .menu {
  margin-right: auto;
  margin-left: 30px;
}
.footer__block {
  background: -webkit-gradient(linear, left top, right top, from(#1C273D), to(#12192B));
  background: linear-gradient(90deg, #1C273D 0%, #12192B 100%);
  border-radius: 12px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
}
.footer__bottom {
  padding: 16px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.3);
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  margin-left: 15px;
}
.social__link {
  display: block;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.social__link--vk {
  background-image: url(../img/icons/vk.svg);
}
.social__link--wa {
  background-image: url(../img/icons/watsapp.svg);
}
.social__link--sk {
  background-image: url(../img/icons/skype.svg);
}
.social__link--in {
  background-image: url(../img/icons/instagram.svg);
}
.social__link--fb {
  background-image: url(../img/icons/facebook.svg);
}
.social__link--ok {
  background-image: url(../img/icons/ok.svg);
}
.social__link--tg {
  background-image: url(../img/icons/telegram.svg);
}
.social__link:hover,
.social__link:active {
  opacity: 0.7;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.reg__block {
  margin-bottom: 30px;
  background: #EDF2FF;
  border-radius: 14px 14px 12px 12px;
}
.reg__block .title {
  margin-bottom: 35px;
}
.reg__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 11px;
}
.reg__wrap .title-4 {
  margin-top: 0;
}
.reg__quote {
  width: 603px;
  max-width: 100%;
  padding: 22px 31px;
  line-height: 1.7;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.reg__text {
  width: 440px;
  max-width: 100%;
}
.reg__text ol {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.reg__main {
  padding: 12px 30px 30px 26px;
  color: #090F1E;
  line-height: 1.7;
}
.reg__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reg__item {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
  background-color: #DFE6F9;
  border: 1px solid #0195FF;
}
.reg__item:last-child {
  margin-bottom: 0;
}
.reg__item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reg__item ul li {
  position: relative;
  padding-left: 29px;
}
.reg__item ul li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 10px;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#0195FF), to(#0856C5));
  background: linear-gradient(90deg, #0195FF 0%, #0856C5 100%);
  border-radius: 50%;
}
.reg__info {
  width: calc(100% - 600px);
  padding-top: 10px;
}
.reg__info p {
  margin: 0;
  line-height: 1.4;
}
.reg__info .title-4 {
  margin-top: 0;
  margin-bottom: 7px;
}
.reg__points {
  width: 540px;
  max-width: 100%;
}
.reg__number {
  width: 38px;
  height: 38px;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#0195FF), to(#0856C5));
  background: linear-gradient(90deg, #0195FF 0%, #0856C5 100%);
  border-radius: 12px;
}
.reg__img {
  width: 524px;
  max-width: 100%;
}
.reg__img img {
  display: block;
  width: 100%;
  height: auto;
}
.reg__bottom {
  color: #4D5362;
  line-height: 1.4;
}
.reg__bottom p {
  margin-bottom: 20px;
}
.reg__bottom .title-2 {
  margin-top: 37px;
}
.reg__btn {
  margin-top: 77px;
}
@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
  .header .menu__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #090F1E;
  }
  .menu__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .menu__item--active::after {
    display: none;
  }
  .menu__link {
    padding: 18px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
  }
  .menu__btn {
    display: block;
    width: 36px;
    height: 32px;
    background-image: url(../img/icons/menu.svg);
    background-repeat: no-repeat;
    background-size: 22px 14px;
    background-position: center;
    background-color: #090F1E;
    border-radius: 10px;
  }
  .menu__btn--close {
    background-image: url(../img/icons/cross.svg);
    background-size: 16px 16px;
  }
  .header .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__user {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
  }
  .header .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 10px;
  }
  .header--menu .logo {
    display: none;
  }
  .header--menu .menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
  }
  .promo__block {
    padding: 20px 26px;
  }
  .codes__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 12px;
  }
  .codes__links {
    width: 100%;
    margin-top: 10px;
  }
  .codes__btn {
    width: 100%;
  }
  .codes__text {
    width: 320px;
    max-width: 100%;
  }
  .codes__promo {
    margin-bottom: 9px;
  }
  .graph__img {
    width: 500px;
  }
  .load__wrap {
    background-image: url(../img/images/phone.webp);
  }
  .about__text,
  .about__video {
    width: 49%;
  }
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .menu {
    margin-left: auto;
    margin-right: 0;
  }
  .social {
    width: 100%;
    margin-top: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social__item {
    margin-left: 3px;
    margin-right: 4px;
  }
}
@media (max-width: 1022px) {
  .promo__block {
    background-position: right top;
    background-size: contain;
  }
  .promo__info {
    max-width: 480px;
  }
  .footer .menu__list,
  .about__wrap,
  .graph__wrap,
  .wrapper--columns {
    display: block;
  }
  .about__text,
  .about__video,
  .graph__text,
  .content,
  .codes {
    width: 100%;
  }
  .codes__item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .codes__text {
    width: 280px;
  }
  .codes__links {
    width: 198px;
  }
  .content__list {
    display: none;
  }
  .content .title {
    position: relative;
  }
  .content .title::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    width: 9px;
    height: 14px;
    background-image: url(../img/icons/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
  }
  .content .title--top::after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
  }
  .graph__img,
  .graph__wrap,
  .graph__btn {
    margin-top: 29px;
  }
  .info__table td:first-child {
    width: 50%;
  }
  .load__list {
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 0;
    padding-top: 260px;
  }
  .load__list::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 320px;
    height: 583px;
    background-image: url(../img/images/phone-mobile.webp);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .load__item {
    margin-left: 0;
  }
  .load__wrap {
    background-image: none;
  }
  .footer__top {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    padding-bottom: 0;
  }
  .footer .menu {
    margin-left: 0;
    width: 100%;
  }
  .footer .menu__link {
    padding-top: 12px;
    padding-bottom: 17px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
  .footer .menu__item:last-child {
    border-bottom: 0;
  }
  .footer .logo {
    margin-bottom: 25px;
  }
  .footer .social {
    margin-top: 0;
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
  }
}
